<br />
<div class="card" style="width: 25rem;">
    <img src="/images/PizzaSaint.png" class="card-img-top" alt="PizzaSaint">
    <div class="card-body">
        <h2 class="card-title text-center"><b>PIZZA SAINT</b></h2>
        <br />
        <p class="card-text">During our first few months of operation there were many odd looks, questions, and even some misguided anger towards our friendly logo creation which we've dubbed "Pizza Saint".  My great friend Carrington Haley created the final product after many weeks and months of discussion and brainstorming sessions involving topics like 90s fashion, Catholic Art, iconography, Orthodox paintings, Saints, our Christian Faith, and many other wild haired ideas.  In the end, I believe the final piece of art turned out better than I could have even planned.

To clear up a few things, Pizza Saint is not Jesus, nor is it meant to mock, minimize, or serve as a satirical caricature of Jesus or the Christian Faith.  Instead, it is an artistic approach to fully representing the idea behind Revival Pizza Company and our goals as a business.

The pizza halo and pizza cutter represent my passion for pizza while also serving as a nod to my desire to follow Mark 12:30-31 in pursuit of Christ.  PS is wearing a 90s style windbreaker while also holding a bundle of fresh rosemary in his other hand which represents our use of fresh ingredients and handmade approach to many of our menu items.  

The slogan, "Survival of the Fittest, Revival of the Sickest" is a mix of Charles Darwin's natural selection theory and the slang used by skaters in the 80s & 90s to acknowledge something being awesome and rad.  The idea that only the strong, adaptable, and fittest will continue on means that the weak, unacceptable, unusual, and unique will perish.  I wanted to acknowledge those that do not fit in, aren't mainstream, feel left behind, or out of the box type people need to be celebrated  and should be revived when possible.  

Ultimately, the Pizza Saint logo is meant to serve as a mixture of our Christian Faith, pursuit of kindness, Rad nature, and "sick" demeanor as a company.  We strive to be a company that puts people over profits and community before bank account.  In the end, we just hope you stay rad and eat pizza!
<br />
<br />
<b>Love Zack, Darrell, & Erica</b></p>
    </div>
</div>