<br />
<div class="text-center">
    <img src="/images/Menu1.png" class="rounded align-self-center" alt="...">
    <div class="middle">
        <div class="text">
            <span class="material-symbols-outlined">
                search
            </span>
        </div>
    </div>
</div>
<br />
<div class="text-center">
    <img src="/images/Menu2.png" class="rounded align-self-center" alt="...">
    <div class="middle">
        <div class="text">
            <span class="material-symbols-outlined">
                search
            </span>
        </div>
    </div>
</div>
<br />
<div class="flex-row text-center border-white">
    <img src="/images/DrinkMenu.png" class="rounded align-self-center" alt="...">
    <img src="/images/pizza1.jpg" class="rounded align-self-center" alt="...">
</div>

